{% extends "auctions/layout.html" %}

{% block body %}
<div class="container pb-5 mb-sm-1">
  <h2>Active Listings for category {{ item }}</h2><hr>
  <div class="row">
    {% for item in all_listings %}
    <div class="col-md-4 col-sm-6">
      <div class="card border-0 mb-grid-gutter">
        <div class="card-body border mt-n1 py-4 text-center">
          <a class="card-img-tiles" href="{% url 'detail' item.id%}">
            <div class="main-img">
              {% if item.picture %}
              <img src="{{ item.picture.url }}" float="left" width="100px" height="100px" object-fit="cover">
              {% endif %}
            </div>
          </a>
          <br>
          <h2 class="h5 mb-1">{{item.title}}</h2>
          <span class="d-block mb-3 font-size-xs text-muted">Starting bid
            <span class="font-weight-semibold">{{item.startingBid}} $<br>
              <span class="font-weight-semibold">{{item.created_date}}
              </span></span></span>
              <a class="btn btn-pill btn-outline-primary btn-sm" href="{% url 'detail' item.id%}">Show Listing</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    {% endblock %}
