{% extends "auctions/layout.html" %}

{% block body %}

{% include "messages.html" %}

<div class="container">
  <h3>{{products.title}}</h3><hr>
  <div class="row">
    <div class="col-md-4">
      <img src="{{products.picture.url}}" alt="" class="img-fluid">
    </div>
    <div class="col-md-8">
      <br><br>
      <h5>{{products.title}}</h5>
      <p class="mb-2 text-muted text-uppercase small"></p>
      <p><span class="mr-1"><strong>Starting bid : {{products.startingBid}}</strong></span></p>
      {% if products.currentBid is None %}
        {% if products.user != user %}
          Make the first bid on this listing!
        {% endif %}
      {% elif products.finalBuyer is not None %}
        {% if products.user == user %}
          <p class="text-success"><strong>You've sold this item to {{products.finalBuyer}} for {{products.currentBid}}</strong></p>
        {% elif products.finalBuyer == user %}
          <p class="text-success"><strong>You've won this auction for {{products.currentBid}} $!</strong></p>
        {% else %}
          <p class="text-danger"><strong>This item is already sold!</strong></p>
        {% endif %}
      {% else %}
      <p><span class="mr-1"><strong>Current bid : {{products.currentBid}}</strong></span></p>
      {% endif %}
      <p class="pt-1">{{products.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
              <td>{{products.category}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Seller</strong></th>
              <td>{{products.user}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Created date</strong></th>
              <td>{{products.created_date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>

      {% if error_min_value %}
      <div class="alert alert-watching" role="alert">
        Your bid must be bigger that {{ products.currentBid }}
      </div>
      {% endif %}

      {% if request.user.is_authenticated %}
      {% if products.active == "TRUE" and products.user != user %}
      <div class="form-group">
        <form action="{% url 'take_bid' products.id %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-xs-6" style = "padding-right:10px">
              <input class="form-control" style="max-width: 100px;" type="text" name="offer" placeholder="Your Bid">
            </div>
            <br>
            <div class="form-group col-xs-6" >
              <input type="submit" class="btn btn-primary btn-md mr-1 mb-2" value=" Make a bid now">
            </div>
          </div>
        </form>
      </div>
      {% endif %}

      {% if fav %}
      <a href="{% url 'favourite_add' products.id %}">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
          class="fas fa-shopping-cart pr-2"></i>Remove from watchlist</button></a>
          {% else %}
          <a href="{% url 'favourite_add' products.id %}">
            <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
              class="fas fa-shopping-cart pr-2"></i>Add to Watchlist</button></a>
              {% endif %}
              {% endif %}
        {% if products.user == user and products.active %}
          <a class="btn btn-outline-info" href="{% url 'close_listing' products.id %}" role="button">Close</a>
        {% endif %}
            </div>
          </div>


          <br>
          <hr>
          <h2>Comments</h2>
            {% if not products.get_comments.all %}
            <p>No comments yet...</p>
            {% else %}
            {% for comments in products.get_comments.all %}
            <strong>
              {{ comments.user}},
              {{ comments.createDate }}
            </strong>
            <br>
            {{ comments.comment }}
            <br><br>
            {% endfor %}
            {% endif %}
            {% if request.user.is_authenticated %}
            <form action="{% url 'createComment' products.id %}" method="post">
              {% csrf_token %}
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Create new comment </label>
                  <textarea class="form-control" rows="3" name="comments"></textarea>
                </div>
                <br>
                <div class="form-group col-xs-6" >
                  <input type="submit" class="btn btn-primary btn-md mr-1 mb-2" value="Submit Comment">
                </div>
            </form>
            {% endif %}
          <hr>
        </div>

        {% endblock %}
